<h1 align="center">Editing Product</h1>
<a href="/products/<%= @product.id %>" class="btn btn-default" role="button">Show</a> |
<a href="/products" class="btn btn-default" role="button">Back</a>

<%= render 'form', product: @product %>

